登録フォーム
<%= form_for(@house) do |f| %>
  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@house.errors.count, "error") %> prohibited
        this house from being saved:
      </h2>
      <ul>
        <% @house.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :物件名 %><br>
    <%= f.text_field :name %><br>
  </div>
  <div>
    <%= f.label :賃料 %><br>
    <%= f.text_field :fee %><br>
  </div>
  <div>
    <%= f.label :住所 %><br>
    <%= f.text_field :adress %><br>
  </div>
  <div>
    <%= f.label :築年数 %><br>
    <%= f.text_field :old %><br>
  </div>
  <div>
    <%= f.label :備考 %><br>
    <%= f.text_area :comment %><br>
  </div>
  <hr>
  
  <%= f.fields_for :near_stations do |ff| %>
  <h3>最寄り駅</h3>
  <div>
    <%= ff.label :路線名 %><br>
    <%= ff.text_field :line %><br>
  </div>
  <div>
    <%= ff.label :駅名 %><br>
    <%= ff.text_field :station %><br>
  </div>
  <div>
    <%= ff.label :徒歩数分 %><br>
    <%= ff.text_field :minutes_from_house %><br>
  </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to "戻る", houses_path %>
