<h2>閲覧</h2><br>
物件名:<%= @house.name %><br><br>
賃料:<%= @house.fee %><br><br>
住所:<%= @house.adress %><br><br>
築年数:<%= @house.old %><br><br>
備考:<%= @house.comment %><br><br>
<hr>
<h3>最寄駅</h3>
路線名:<%= @house.near_stations.line %><br><br>
駅名:<%= @house.near_stations.station %><br><br>
徒歩数分:<%= @house.near_stations.minutes_from_house %><br><br>
<%= link_to "編集", edit_house_path %>
<%= link_to "戻る", houses_path %>